* {
    font-family: sans-serif;
}
.header {
    padding: 20px;
    font-family: 'Lucida Sans'
}
h1 {
    font-size: 40px;
}
nav {
    font-size: 30px;
    float: right;
    display: inline-block;
}
p {
    font-size: 30px;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: gray;
}
.float-left {
    float: left;
    margin: 25px;
    max-width: 400px;
}
.footer {
    margin-top: auto;
    text-align: center;
}